@charset "UTF-8";
/* シーン別プレイリスト*/
.play-list-outer {
	display: flex;
	align-items: center; 
	gap: 2rem; 
}

.haikei {
	flex-basis: 40%;
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%), 0 2px 3px -2px rgb(0 0 0 / 1%);
    background-image: linear-gradient(transparent calc(100% - 1px), #e6edf3 50%, #e6edf3), linear-gradient(90deg, transparent calc(100% - 1px), #e6edf3 50%, #e6edf3);
    background-size: 15px 15px;
    background-repeat: repeat;
    background-color: #ffffff;
	padding: 1em 1.5em;
}

.play-list-right {
	flex-basis: 60%; 
}

.play-list-right iframe {
	width: 100%;
	height: 152px; 
}

/*聖地巡礼のボタン*/
.spot-flex {
  display: flex;           
  justify-content: center; 
  align-items: center;     
  gap: 300px;              
}

.spot-box {
  display: flex;
  justify-content: center;  
  align-items: center;      
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 10px 0;
  text-decoration: none;
  background-color: #B08D57;
  border: 1px solid #B08D57;
  color: white;
  border-radius: 100px;
}

.spot-box a{
	justify-content: space-between;
	