@charset "UTF-8";

/*スライダー*/
.swiper-container {
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.swiper-slide {
	text-align: center;
}

.swiper-slide iframe {
	width: 95%;
	height: auto; 
	border: none; 
	border-radius: 12px;
}

.swiper-slide iframe {
	width: 98%; 
	height: 98%; 
	border-radius: 12px; 
}

.swiper-pagination {
	position: relative;
	margin-top: 1.5rem; 
}
.swiper-button-prev,
.swiper-button-next {
	color: #1c515c;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}